Web Scraping --> Top 100 Movies over the Years

In [1]:
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/AFI%27s_100_Years...100_Movies_(10th_Anniversary_Edition)'

In [3]:
tables = pd.read_html(url)
fact_table = tables[1]
fact_table

,Rank,10th anniversary list (2007),Director,Year,Studio,Change from 1998
0,1.0,Citizen Kane,Orson Welles,1941,RKO,NaN
1,2.0,The Godfather,Francis Ford Coppola,1972,Paramount,1
2,3.0,Casablanca,Michael Curtiz,1942,Warner Brothers,1
3,4.0,Raging Bull,Martin Scorsese,1980,United Artists,20
4,5.0,Singin' in the Rain,"Gene Kelly, Stanley Donen",1952,Metro-Goldwyn-Mayer,5
...,...,...,...,...,...,...
95,96.0,Do the Right Thing,Spike Lee,1989,"Universal, 40 Acres & A Mule Filmworks",NEW
96,97.0,Blade Runner,Ridley Scott,1982,"Warner Brothers, The Ladd Company",NEW
97,98.0,Yankee Doodle Dandy,Michael Curtiz,1942,Warner Brothers,2
98,99.0,Toy Story,John Lasseter,1995,"Disney, Pixar",NEW
99,100.0,Ben-Hur,William Wyler,1959,Metro-Goldwyn-Mayer,28

In [4]:
fact_table=fact_table.rename(columns={"10th anniversary list (2007)": "Title"})
fact_table_final  = fact_table[["Rank","Title","Director", "Year","Studio"]]
fact_table_final

,Rank,Title,Director,Year,Studio
0,1.0,Citizen Kane,Orson Welles,1941,RKO
1,2.0,The Godfather,Francis Ford Coppola,1972,Paramount
2,3.0,Casablanca,Michael Curtiz,1942,Warner Brothers
3,4.0,Raging Bull,Martin Scorsese,1980,United Artists
4,5.0,Singin' in the Rain,"Gene Kelly, Stanley Donen",1952,Metro-Goldwyn-Mayer
...,...,...,...,...,...
95,96.0,Do the Right Thing,Spike Lee,1989,"Universal, 40 Acres & A Mule Filmworks"
96,97.0,Blade Runner,Ridley Scott,1982,"Warner Brothers, The Ladd Company"
97,98.0,Yankee Doodle Dandy,Michael Curtiz,1942,Warner Brothers
98,99.0,Toy Story,John Lasseter,1995,"Disney, Pixar"
99,100.0,Ben-Hur,William Wyler,1959,Metro-Goldwyn-Mayer

In [5]:
movie_list = fact_table["Title"].tolist()
movie_list

['Citizen Kane',
 'The Godfather',
 'Casablanca',
 'Raging Bull',
 "Singin' in the Rain",
 'Gone with the Wind',
 'Lawrence of Arabia',
 "Schindler's List",
 'Vertigo',
 'The Wizard of Oz',
 'City Lights',
 'The Searchers',
 'Star Wars',
 'Psycho',
 '2001: A Space Odyssey',
 'Sunset Boulevard',
 'The Graduate',
 'The General',
 'On the Waterfront',
 "It's a Wonderful Life",
 'Chinatown',
 'Some Like It Hot',
 'The Grapes of Wrath',
 'E.T. the Extra-Terrestrial',
 'To Kill a Mockingbird',
 'Mr. Smith Goes to Washington',
 'High Noon',
 'All About Eve',
 'Double Indemnity',
 'Apocalypse Now',
 'The Maltese Falcon',
 'The Godfather Part II',
 "One Flew Over the Cuckoo's Nest",
 'Snow White and the Seven Dwarfs',
 'Annie Hall',
 'The Bridge on the River Kwai',
 'The Best Years of Our Lives',
 'The Treasure of the Sierra Madre',
 'Dr. Strangelove',
 'The Sound of Music',
 'King Kong',
 'Bonnie and Clyde',
 'Midnight Cowboy',
 'The Philadelphia Story',
 'Shane',
 'It Happened One Night',
 'A Streetcar Named Desire',
 'Rear Window',
 'Intolerance',
 'The Lord of the Rings: The Fellowship of the Ring',
 'West Side Story',
 'Taxi Driver',
 'The Deer Hunter',
 'M*A*S*H',
 'North by Northwest',
 'Jaws',
 'Rocky',
 'The Gold Rush',
 'Nashville',
 'Duck Soup',
 "Sullivan's Travels",
 'American Graffiti',
 'Cabaret',
 'Network',
 'The African Queen',
 'Raiders of the Lost Ark',
 "Who's Afraid of Virginia Woolf?",
 'Unforgiven',
 'Tootsie',
 'A Clockwork Orange',
 'Saving Private Ryan',
 'The Shawshank Redemption',
 'Butch Cassidy and the Sundance Kid',
 'The Silence of the Lambs',
 'In the Heat of the Night',
 'Forrest Gump',
 "All the President's Men",
 'Modern Times',
 'The Wild Bunch',
 'The Apartment',
 'Spartacus',
 'Sunrise: A Song of Two Humans',
 'Titanic',
 'Easy Rider',
 'A Night at the Opera',
 'Platoon',
 '12 Angry Men',
 'Bringing Up Baby',
 'The Sixth Sense',
 'Swing Time',
 "Sophie's Choice",
 'Goodfellas',
 'The French Connection',
 'Pulp Fiction',
 'The Last Picture Show',
 'Do the Right Thing',
 'Blade Runner',
 'Yankee Doodle Dandy',
 'Toy Story',
 'Ben-Hur']

OMDb API  --> Get MOVIE Plot and Viewer Discrestion Rating

In [6]:
# Dependencies
import requests
import json
from config import api_key
from pprint import pprint

url = f"http://www.omdbapi.com/?apikey={api_key}&t="

In [ ]:

omdb_df = pd.DataFrame(columns = ['Title', 'Rated','Plot'])
for x in movie_list:
    try:
        response = requests.get(url + x)
        data = response.json()
        #pprint(data)
        rate = data["Rated"]
        #print(rate)
        plot = data["Plot"]
        #print(plot)
        omdb_df = omdb_df.append({'Title':x,'Rated':rate,"Plot":plot}, ignore_index=True)
    except KeyError:
        print(x + " does not exist")

Sunrise: A Song of Two Humans does not exist

In [ ]:
omdb_df

CSV File

In [ ]:
# Store filepath in a variable
file_one = "movies_metadata.csv"
file_one_df = pd.read_csv(file_one)
#file_one_df.head()

In [ ]:
clean_meta = file_one_df[["original_title","revenue"]]
clean_meta

In [ ]:
clean_meta=clean_meta.rename(columns={"original_title": "Title"})
clean_meta

In [ ]:
result4 = pd.merge(clean_meta, omdb_df, on="Title")
result4

In [ ]:
final = pd.merge(fact_table_final, result4, on="Title")
final

In [ ]:
dup_drop = final.drop_duplicates(subset=['Rank'])

In [ ]:
dup_drop

In [ ]:
#dup_drop.index += 1 
#result.index
#dup_drop

In [ ]:
dup_drop["Rank"]= dup_drop["Rank"].astype('float')
dup_drop["Rank"]= dup_drop["Rank"].astype('int')

In [ ]:
dup_drop

In [ ]:

#dup_drop=dup_drop.astype('int')
#dup_drop

In [ ]:
dup_drop = dup_drop.applymap(str)

In [ ]:

dup_drop = dup_drop.set_index('Rank')
dup_drop

In [ ]:
#dup_drop = dup_drop.columns=dup_drop.columns.str.replace('[.]', '')

In [ ]:
#dup_drop

In [ ]:
data_json = dup_drop.to_dict('index')
data_json

In [ ]:
#data_json.keys()

In [ ]:
import pymongo

# Setup connection to mongodb
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

# Select database and collection to use
db = client.movie_data2
collection = db.movie_facts2

collection.insert_one(data_json)