Web Scraping --> Top 100 Movies over the Years

In [1]:
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/AFI%27s_100_Years...100_Movies_(10th_Anniversary_Edition)'

In [3]:
tables = pd.read_html(url)
fact_table = tables[1]
fact_table

,Rank,10th anniversary list (2007),Director,Year,Studio,Change from 1998
0,1.0,Citizen Kane,Orson Welles,1941,RKO,NaN
1,2.0,The Godfather,Francis Ford Coppola,1972,Paramount,1
2,3.0,Casablanca,Michael Curtiz,1942,Warner Brothers,1
3,4.0,Raging Bull,Martin Scorsese,1980,United Artists,20
4,5.0,Singin' in the Rain,"Gene Kelly, Stanley Donen",1952,Metro-Goldwyn-Mayer,5
...,...,...,...,...,...,...
95,96.0,Do the Right Thing,Spike Lee,1989,"Universal, 40 Acres & A Mule Filmworks",NEW
96,97.0,Blade Runner,Ridley Scott,1982,"Warner Brothers, The Ladd Company",NEW
97,98.0,Yankee Doodle Dandy,Michael Curtiz,1942,Warner Brothers,2
98,99.0,Toy Story,John Lasseter,1995,"Disney, Pixar",NEW
99,100.0,Ben-Hur,William Wyler,1959,Metro-Goldwyn-Mayer,28

In [4]:
fact_table=fact_table.rename(columns={"10th anniversary list (2007)": "Title"})
fact_table_final  = fact_table[["Rank","Title","Director", "Year","Studio"]]
fact_table_final

,Rank,Title,Director,Year,Studio
0,1.0,Citizen Kane,Orson Welles,1941,RKO
1,2.0,The Godfather,Francis Ford Coppola,1972,Paramount
2,3.0,Casablanca,Michael Curtiz,1942,Warner Brothers
3,4.0,Raging Bull,Martin Scorsese,1980,United Artists
4,5.0,Singin' in the Rain,"Gene Kelly, Stanley Donen",1952,Metro-Goldwyn-Mayer
...,...,...,...,...,...
95,96.0,Do the Right Thing,Spike Lee,1989,"Universal, 40 Acres & A Mule Filmworks"
96,97.0,Blade Runner,Ridley Scott,1982,"Warner Brothers, The Ladd Company"
97,98.0,Yankee Doodle Dandy,Michael Curtiz,1942,Warner Brothers
98,99.0,Toy Story,John Lasseter,1995,"Disney, Pixar"
99,100.0,Ben-Hur,William Wyler,1959,Metro-Goldwyn-Mayer

In [5]:
movie_list = fact_table["Title"].tolist()
movie_list

['Citizen Kane',
 'The Godfather',
 'Casablanca',
 'Raging Bull',
 "Singin' in the Rain",
 'Gone with the Wind',
 'Lawrence of Arabia',
 "Schindler's List",
 'Vertigo',
 'The Wizard of Oz',
 'City Lights',
 'The Searchers',
 'Star Wars',
 'Psycho',
 '2001: A Space Odyssey',
 'Sunset Boulevard',
 'The Graduate',
 'The General',
 'On the Waterfront',
 "It's a Wonderful Life",
 'Chinatown',
 'Some Like It Hot',
 'The Grapes of Wrath',
 'E.T. the Extra-Terrestrial',
 'To Kill a Mockingbird',
 'Mr. Smith Goes to Washington',
 'High Noon',
 'All About Eve',
 'Double Indemnity',
 'Apocalypse Now',
 'The Maltese Falcon',
 'The Godfather Part II',
 "One Flew Over the Cuckoo's Nest",
 'Snow White and the Seven Dwarfs',
 'Annie Hall',
 'The Bridge on the River Kwai',
 'The Best Years of Our Lives',
 'The Treasure of the Sierra Madre',
 'Dr. Strangelove',
 'The Sound of Music',
 'King Kong',
 'Bonnie and Clyde',
 'Midnight Cowboy',
 'The Philadelphia Story',
 'Shane',
 'It Happened One Night',
 'A Streetcar Named Desire',
 'Rear Window',
 'Intolerance',
 'The Lord of the Rings: The Fellowship of the Ring',
 'West Side Story',
 'Taxi Driver',
 'The Deer Hunter',
 'M*A*S*H',
 'North by Northwest',
 'Jaws',
 'Rocky',
 'The Gold Rush',
 'Nashville',
 'Duck Soup',
 "Sullivan's Travels",
 'American Graffiti',
 'Cabaret',
 'Network',
 'The African Queen',
 'Raiders of the Lost Ark',
 "Who's Afraid of Virginia Woolf?",
 'Unforgiven',
 'Tootsie',
 'A Clockwork Orange',
 'Saving Private Ryan',
 'The Shawshank Redemption',
 'Butch Cassidy and the Sundance Kid',
 'The Silence of the Lambs',
 'In the Heat of the Night',
 'Forrest Gump',
 "All the President's Men",
 'Modern Times',
 'The Wild Bunch',
 'The Apartment',
 'Spartacus',
 'Sunrise: A Song of Two Humans',
 'Titanic',
 'Easy Rider',
 'A Night at the Opera',
 'Platoon',
 '12 Angry Men',
 'Bringing Up Baby',
 'The Sixth Sense',
 'Swing Time',
 "Sophie's Choice",
 'Goodfellas',
 'The French Connection',
 'Pulp Fiction',
 'The Last Picture Show',
 'Do the Right Thing',
 'Blade Runner',
 'Yankee Doodle Dandy',
 'Toy Story',
 'Ben-Hur']

OMDb API  --> Get MOVIE Plot and Viewer Discrestion Rating

In [6]:
# Dependencies
import requests
import json
from config import api_key
from pprint import pprint

url = f"http://www.omdbapi.com/?apikey={api_key}&t="

In [7]:

omdb_df = pd.DataFrame(columns = ['Title', 'Rated','Plot'])
for x in movie_list:
    try:
        response = requests.get(url + x)
        data = response.json()
        #pprint(data)
        rate = data["Rated"]
        #print(rate)
        plot = data["Plot"]
        #print(plot)
        omdb_df = omdb_df.append({'Title':x,'Rated':rate,"Plot":plot}, ignore_index=True)
    except KeyError:
        print(x + " does not exist")

Sunrise: A Song of Two Humans does not exist

In [8]:
omdb_df

,Title,Rated,Plot
0,Citizen Kane,PG,Following the death of publishing tycoon Charl...
1,The Godfather,R,An organized crime dynasty's aging patriarch t...
2,Casablanca,PG,A cynical expatriate American cafe owner strug...
3,Raging Bull,R,"The life of boxer Jake LaMotta, whose violence..."
4,Singin' in the Rain,G,A silent film production company and cast make...
...,...,...,...
94,Do the Right Thing,R,On the hottest day of the year on a street in ...
95,Blade Runner,R,A blade runner must pursue and terminate four ...
96,Yankee Doodle Dandy,Passed,"The life of the renowned musical composer, pla..."
97,Toy Story,G,A cowboy doll is profoundly threatened and jea...
98,Ben-Hur,G,After a Jewish prince is betrayed and sent int...

CSV File

In [9]:
# Store filepath in a variable
file_one = "movies_metadata.csv"
file_one_df = pd.read_csv(file_one)
#file_one_df.head()

C:\Users\mail2\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [10]:
clean_meta = file_one_df[["original_title","revenue"]]
clean_meta

                    original_title      revenue
0                        Toy Story  373554033.0
1                          Jumanji  262797249.0
2                 Grumpier Old Men          0.0
3                Waiting to Exhale   81452156.0
4      Father of the Bride Part II   76578911.0
...                            ...          ...
45461                      رگ خواب          0.0
45462          Siglo ng Pagluluwal          0.0
45463                     Betrayal          0.0
45464          Satana likuyushchiy          0.0
45465                     Queerama          0.0

[45466 rows x 2 columns]

In [11]:
clean_meta=clean_meta.rename(columns={"original_title": "Title"})
clean_meta

                             Title      revenue
0                        Toy Story  373554033.0
1                          Jumanji  262797249.0
2                 Grumpier Old Men          0.0
3                Waiting to Exhale   81452156.0
4      Father of the Bride Part II   76578911.0
...                            ...          ...
45461                      رگ خواب          0.0
45462          Siglo ng Pagluluwal          0.0
45463                     Betrayal          0.0
45464          Satana likuyushchiy          0.0
45465                     Queerama          0.0

[45466 rows x 2 columns]

In [12]:
result4 = pd.merge(clean_meta, omdb_df, on="Title")
result4

,Title,revenue,Rated,Plot
0,Toy Story,373554033.0,G,A cowboy doll is profoundly threatened and jea...
1,Taxi Driver,28262574.0,R,A mentally unstable veteran works as a nightti...
2,Star Wars,775398007.0,PG,Luke Skywalker joins forces with a Jedi Knight...
3,Pulp Fiction,213928762.0,R,"The lives of two mob hitmen, a boxer, a gangst..."
4,The Shawshank Redemption,28341469.0,R,Two imprisoned men bond over a number of years...
...,...,...,...,...
106,M*A*S*H,81600000.0,TV-PG,The staff of an Army hospital in the Korean Wa...
107,All the President's Men,70600000.0,PG,"""The Washington Post"" reporters Bob Woodward a..."
108,Yankee Doodle Dandy,0.0,Passed,"The life of the renowned musical composer, pla..."
109,Swing Time,2600000.0,Not Rated,"Roguish gambler/dancer ""Lucky"" Garnett is chal..."
110,A Night at the Opera,0.0,Passed,A sly business manager and two wacky friends o...

In [13]:
final = pd.merge(fact_table_final, result4, on="Title")
final

,Rank,Title,Director,Year,Studio,revenue,Rated,Plot
0,1.0,Citizen Kane,Orson Welles,1941,RKO,23217674.0,PG,Following the death of publishing tycoon Charl...
1,2.0,The Godfather,Francis Ford Coppola,1972,Paramount,245066411.0,R,An organized crime dynasty's aging patriarch t...
2,3.0,Casablanca,Michael Curtiz,1942,Warner Brothers,10462500.0,PG,A cynical expatriate American cafe owner strug...
3,4.0,Raging Bull,Martin Scorsese,1980,United Artists,23000000.0,R,"The life of boxer Jake LaMotta, whose violence..."
4,5.0,Singin' in the Rain,"Gene Kelly, Stanley Donen",1952,Metro-Goldwyn-Mayer,7200000.0,G,A silent film production company and cast make...
...,...,...,...,...,...,...,...,...
106,97.0,Blade Runner,Ridley Scott,1982,"Warner Brothers, The Ladd Company",33139618.0,R,A blade runner must pursue and terminate four ...
107,98.0,Yankee Doodle Dandy,Michael Curtiz,1942,Warner Brothers,0.0,Passed,"The life of the renowned musical composer, pla..."
108,99.0,Toy Story,John Lasseter,1995,"Disney, Pixar",373554033.0,G,A cowboy doll is profoundly threatened and jea...
109,100.0,Ben-Hur,William Wyler,1959,Metro-Goldwyn-Mayer,146900000.0,G,After a Jewish prince is betrayed and sent int...
110,100.0,Ben-Hur,William Wyler,1959,Metro-Goldwyn-Mayer,94061311.0,G,After a Jewish prince is betrayed and sent int...

In [14]:
dup_drop = final.drop_duplicates(subset=['Rank'])

In [15]:
dup_drop

,Rank,Title,Director,Year,Studio,revenue,Rated,Plot
0,1.0,Citizen Kane,Orson Welles,1941,RKO,23217674.0,PG,Following the death of publishing tycoon Charl...
1,2.0,The Godfather,Francis Ford Coppola,1972,Paramount,245066411.0,R,An organized crime dynasty's aging patriarch t...
2,3.0,Casablanca,Michael Curtiz,1942,Warner Brothers,10462500.0,PG,A cynical expatriate American cafe owner strug...
3,4.0,Raging Bull,Martin Scorsese,1980,United Artists,23000000.0,R,"The life of boxer Jake LaMotta, whose violence..."
4,5.0,Singin' in the Rain,"Gene Kelly, Stanley Donen",1952,Metro-Goldwyn-Mayer,7200000.0,G,A silent film production company and cast make...
...,...,...,...,...,...,...,...,...
105,96.0,Do the Right Thing,Spike Lee,1989,"Universal, 40 Acres & A Mule Filmworks",37295445.0,R,On the hottest day of the year on a street in ...
106,97.0,Blade Runner,Ridley Scott,1982,"Warner Brothers, The Ladd Company",33139618.0,R,A blade runner must pursue and terminate four ...
107,98.0,Yankee Doodle Dandy,Michael Curtiz,1942,Warner Brothers,0.0,Passed,"The life of the renowned musical composer, pla..."
108,99.0,Toy Story,John Lasseter,1995,"Disney, Pixar",373554033.0,G,A cowboy doll is profoundly threatened and jea...
109,100.0,Ben-Hur,William Wyler,1959,Metro-Goldwyn-Mayer,146900000.0,G,After a Jewish prince is betrayed and sent int...

In [ ]:
#dup_drop.index += 1 
#result.index
#dup_drop

In [16]:
dup_drop["Rank"]= dup_drop["Rank"].astype('float')
dup_drop["Rank"]= dup_drop["Rank"].astype('int')

<ipython-input-16-1f542cf1996b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dup_drop["Rank"]= dup_drop["Rank"].astype('float')
<ipython-input-16-1f542cf1996b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dup_drop["Rank"]= dup_drop["Rank"].astype('int')

In [17]:
dup_drop

,Rank,Title,Director,Year,Studio,revenue,Rated,Plot
0,1,Citizen Kane,Orson Welles,1941,RKO,23217674.0,PG,Following the death of publishing tycoon Charl...
1,2,The Godfather,Francis Ford Coppola,1972,Paramount,245066411.0,R,An organized crime dynasty's aging patriarch t...
2,3,Casablanca,Michael Curtiz,1942,Warner Brothers,10462500.0,PG,A cynical expatriate American cafe owner strug...
3,4,Raging Bull,Martin Scorsese,1980,United Artists,23000000.0,R,"The life of boxer Jake LaMotta, whose violence..."
4,5,Singin' in the Rain,"Gene Kelly, Stanley Donen",1952,Metro-Goldwyn-Mayer,7200000.0,G,A silent film production company and cast make...
...,...,...,...,...,...,...,...,...
105,96,Do the Right Thing,Spike Lee,1989,"Universal, 40 Acres & A Mule Filmworks",37295445.0,R,On the hottest day of the year on a street in ...
106,97,Blade Runner,Ridley Scott,1982,"Warner Brothers, The Ladd Company",33139618.0,R,A blade runner must pursue and terminate four ...
107,98,Yankee Doodle Dandy,Michael Curtiz,1942,Warner Brothers,0.0,Passed,"The life of the renowned musical composer, pla..."
108,99,Toy Story,John Lasseter,1995,"Disney, Pixar",373554033.0,G,A cowboy doll is profoundly threatened and jea...
109,100,Ben-Hur,William Wyler,1959,Metro-Goldwyn-Mayer,146900000.0,G,After a Jewish prince is betrayed and sent int...

In [ ]:

#dup_drop=dup_drop.astype('int')
#dup_drop

In [18]:
dup_drop = dup_drop.applymap(str)

In [19]:

dup_drop = dup_drop.set_index('Rank')
dup_drop

,Title,Director,Year,Studio,revenue,Rated,Plot
Rank,,,,,,,
1,Citizen Kane,Orson Welles,1941,RKO,23217674.0,PG,Following the death of publishing tycoon Charl...
2,The Godfather,Francis Ford Coppola,1972,Paramount,245066411.0,R,An organized crime dynasty's aging patriarch t...
3,Casablanca,Michael Curtiz,1942,Warner Brothers,10462500.0,PG,A cynical expatriate American cafe owner strug...
4,Raging Bull,Martin Scorsese,1980,United Artists,23000000.0,R,"The life of boxer Jake LaMotta, whose violence..."
5,Singin' in the Rain,"Gene Kelly, Stanley Donen",1952,Metro-Goldwyn-Mayer,7200000.0,G,A silent film production company and cast make...
...,...,...,...,...,...,...,...
96,Do the Right Thing,Spike Lee,1989,"Universal, 40 Acres & A Mule Filmworks",37295445.0,R,On the hottest day of the year on a street in ...
97,Blade Runner,Ridley Scott,1982,"Warner Brothers, The Ladd Company",33139618.0,R,A blade runner must pursue and terminate four ...
98,Yankee Doodle Dandy,Michael Curtiz,1942,Warner Brothers,0.0,Passed,"The life of the renowned musical composer, pla..."
99,Toy Story,John Lasseter,1995,"Disney, Pixar",373554033.0,G,A cowboy doll is profoundly threatened and jea...
100,Ben-Hur,William Wyler,1959,Metro-Goldwyn-Mayer,146900000.0,G,After a Jewish prince is betrayed and sent int...

In [ ]:
#dup_drop = dup_drop.columns=dup_drop.columns.str.replace('[.]', '')

In [ ]:
#dup_drop

In [20]:
data_json = dup_drop.to_dict()
data_json

{'Title': {'1': 'Citizen Kane',
  '2': 'The Godfather',
  '3': 'Casablanca',
  '4': 'Raging Bull',
  '5': "Singin' in the Rain",
  '6': 'Gone with the Wind',
  '7': 'Lawrence of Arabia',
  '8': "Schindler's List",
  '9': 'Vertigo',
  '10': 'The Wizard of Oz',
  '11': 'City Lights',
  '12': 'The Searchers',
  '13': 'Star Wars',
  '14': 'Psycho',
  '15': '2001: A Space Odyssey',
  '16': 'Sunset Boulevard',
  '17': 'The Graduate',
  '18': 'The General',
  '19': 'On the Waterfront',
  '20': "It's a Wonderful Life",
  '21': 'Chinatown',
  '22': 'Some Like It Hot',
  '23': 'The Grapes of Wrath',
  '24': 'E.T. the Extra-Terrestrial',
  '25': 'To Kill a Mockingbird',
  '26': 'Mr. Smith Goes to Washington',
  '27': 'High Noon',
  '28': 'All About Eve',
  '29': 'Double Indemnity',
  '30': 'Apocalypse Now',
  '31': 'The Maltese Falcon',
  '33': "One Flew Over the Cuckoo's Nest",
  '34': 'Snow White and the Seven Dwarfs',
  '35': 'Annie Hall',
  '36': 'The Bridge on the River Kwai',
  '37': 'The Best Years of Our Lives',
  '38': 'The Treasure of the Sierra Madre',
  '40': 'The Sound of Music',
  '41': 'King Kong',
  '42': 'Bonnie and Clyde',
  '43': 'Midnight Cowboy',
  '44': 'The Philadelphia Story',
  '45': 'Shane',
  '46': 'It Happened One Night',
  '47': 'A Streetcar Named Desire',
  '48': 'Rear Window',
  '50': 'The Lord of the Rings: The Fellowship of the Ring',
  '51': 'West Side Story',
  '52': 'Taxi Driver',
  '53': 'The Deer Hunter',
  '54': 'M*A*S*H',
  '55': 'North by Northwest',
  '56': 'Jaws',
  '57': 'Rocky',
  '58': 'The Gold Rush',
  '59': 'Nashville',
  '60': 'Duck Soup',
  '61': "Sullivan's Travels",
  '62': 'American Graffiti',
  '63': 'Cabaret',
  '64': 'Network',
  '65': 'The African Queen',
  '66': 'Raiders of the Lost Ark',
  '67': "Who's Afraid of Virginia Woolf?",
  '68': 'Unforgiven',
  '69': 'Tootsie',
  '70': 'A Clockwork Orange',
  '71': 'Saving Private Ryan',
  '72': 'The Shawshank Redemption',
  '73': 'Butch Cassidy and the Sundance Kid',
  '74': 'The Silence of the Lambs',
  '75': 'In the Heat of the Night',
  '76': 'Forrest Gump',
  '77': "All the President's Men",
  '78': 'Modern Times',
  '79': 'The Wild Bunch',
  '80': 'The Apartment',
  '81': 'Spartacus',
  '83': 'Titanic',
  '84': 'Easy Rider',
  '85': 'A Night at the Opera',
  '86': 'Platoon',
  '87': '12 Angry Men',
  '88': 'Bringing Up Baby',
  '89': 'The Sixth Sense',
  '90': 'Swing Time',
  '91': "Sophie's Choice",
  '93': 'The French Connection',
  '94': 'Pulp Fiction',
  '95': 'The Last Picture Show',
  '96': 'Do the Right Thing',
  '97': 'Blade Runner',
  '98': 'Yankee Doodle Dandy',
  '99': 'Toy Story',
  '100': 'Ben-Hur'},
 'Director': {'1': 'Orson Welles',
  '2': 'Francis Ford Coppola',
  '3': 'Michael Curtiz',
  '4': 'Martin Scorsese',
  '5': 'Gene Kelly, Stanley Donen',
  '6': 'Victor Fleming',
  '7': 'David Lean',
  '8': 'Steven Spielberg',
  '9': 'Alfred Hitchcock',
  '10': 'Victor Fleming',
  '11': 'Charlie Chaplin',
  '12': 'John Ford',
  '13': 'George Lucas',
  '14': 'Alfred Hitchcock',
  '15': 'Stanley Kubrick',
  '16': 'Billy Wilder',
  '17': 'Mike Nichols',
  '18': 'Buster Keaton, Clyde Bruckman',
  '19': 'Elia Kazan',
  '20': 'Frank Capra',
  '21': 'Roman Polanski',
  '22': 'Billy Wilder',
  '23': 'John Ford',
  '24': 'Steven Spielberg',
  '25': 'Robert Mulligan',
  '26': 'Frank Capra',
  '27': 'Fred Zinnemann',
  '28': 'Joseph L. Mankiewicz',
  '29': 'Billy Wilder',
  '30': 'Francis Ford Coppola',
  '31': 'John Huston',
  '33': 'Miloš Forman',
  '34': 'David Hand',
  '35': 'Woody Allen',
  '36': 'David Lean',
  '37': 'William Wyler',
  '38': 'John Huston',
  '40': 'Robert Wise',
  '41': 'Merian C. Cooper, Ernest B. Schoedsack',
  '42': 'Arthur Penn',
  '43': 'John Schlesinger',
  '44': 'George Cukor',
  '45': 'George Stevens',
  '46': 'Frank Capra',
  '47': 'Elia Kazan',
  '48': 'Alfred Hitchcock',
  '50': 'Peter Jackson',
  '51': 'Jerome Robbins, Robert Wise',
  '52': 'Martin Scorsese',
  '53': 'Michael Cimino',
  '54': 'Robert Altman',
  '55': 'Alfred Hitchcock',
  '56': 'Steven Spielberg',
  '57': 'John G. Avildsen',
  '58': 'Charlie Chaplin',
  '59': 'Robert Altman',
  '60': 'Leo McCarey',
  '61': 'Preston Sturges',
  '62': 'George Lucas',
  '63': 'Bob Fosse',
  '64': 'Sidney Lumet',
  '65': 'John Huston',
  '66': 'Steven Spielberg',
  '67': 'Mike Nichols',
  '68': 'Clint Eastwood',
  '69': 'Sydney Pollack',
  '70': 'Stanley Kubrick',
  '71': 'Steven Spielberg',
  '72': 'Frank Darabont',
  '73': 'George Roy Hill',
  '74': 'Jonathan Demme',
  '75': 'Norman Jewison',
  '76': 'Robert Zemeckis',
  '77': 'Alan J. Pakula',
  '78': 'Charlie Chaplin',
  '79': 'Sam Peckinpah',
  '80': 'Billy Wilder',
  '81': 'Stanley Kubrick',
  '83': 'James Cameron',
  '84': 'Dennis Hopper',
  '85': 'Sam Wood',
  '86': 'Oliver Stone',
  '87': 'Sidney Lumet',
  '88': 'Howard Hawks',
  '89': 'M. Night Shyamalan',
  '90': 'George Stevens',
  '91': 'Alan J. Pakula',
  '93': 'William Friedkin',
  '94': 'Quentin Tarantino',
  '95': 'Peter Bogdanovich',
  '96': 'Spike Lee',
  '97': 'Ridley Scott',
  '98': 'Michael Curtiz',
  '99': 'John Lasseter',
  '100': 'William Wyler'},
 'Year': {'1': '1941',
  '2': '1972',
  '3': '1942',
  '4': '1980',
  '5': '1952',
  '6': '1939',
  '7': '1962',
  '8': '1993',
  '9': '1958',
  '10': '1939',
  '11': '1931',
  '12': '1956',
  '13': '1977',
  '14': '1960',
  '15': '1968',
  '16': '1950',
  '17': '1967',
  '18': '1926',
  '19': '1954',
  '20': '1946',
  '21': '1974',
  '22': '1959',
  '23': '1940',
  '24': '1982',
  '25': '1962',
  '26': '1939',
  '27': '1952',
  '28': '1950',
  '29': '1944',
  '30': '1979',
  '31': '1941',
  '33': '1975',
  '34': '1937',
  '35': '1977',
  '36': '1957',
  '37': '1946',
  '38': '1948',
  '40': '1965',
  '41': '1933',
  '42': '1967',
  '43': '1969',
  '44': '1940',
  '45': '1953',
  '46': '1934',
  '47': '1951',
  '48': '1954',
  '50': '2001',
  '51': '1961',
  '52': '1976',
  '53': '1978',
  '54': '1970',
  '55': '1959',
  '56': '1975',
  '57': '1976',
  '58': '1925',
  '59': '1975',
  '60': '1933',
  '61': '1941',
  '62': '1973',
  '63': '1972',
  '64': '1976',
  '65': '1951',
  '66': '1981',
  '67': '1966',
  '68': '1992',
  '69': '1982',
  '70': '1971',
  '71': '1998',
  '72': '1994',
  '73': '1969',
  '74': '1991',
  '75': '1967',
  '76': '1994',
  '77': '1976',
  '78': '1936',
  '79': '1969',
  '80': '1960',
  '81': '1960',
  '83': '1997',
  '84': '1969',
  '85': '1935',
  '86': '1986',
  '87': '1957',
  '88': '1938',
  '89': '1999',
  '90': '1936',
  '91': '1982',
  '93': '1971',
  '94': '1994',
  '95': '1971',
  '96': '1989',
  '97': '1982',
  '98': '1942',
  '99': '1995',
  '100': '1959'},
 'Studio': {'1': 'RKO',
  '2': 'Paramount',
  '3': 'Warner Brothers',
  '4': 'United Artists',
  '5': 'Metro-Goldwyn-Mayer',
  '6': 'Metro-Goldwyn-Mayer (distributor), Selznick International Pictures',
  '7': 'Horizon, Columbia',
  '8': 'Universal',
  '9': 'Paramount',
  '10': 'Metro-Goldwyn-Mayer',
  '11': 'United Artists',
  '12': 'Warner Brothers',
  '13': '20th Century Fox, Lucasfilm',
  '14': 'Shamley Productions, Paramount (distr.)',
  '15': 'Metro-Goldwyn-Mayer',
  '16': 'Paramount',
  '17': 'United Artists, Embassy',
  '18': 'United Artists',
  '19': 'Columbia',
  '20': 'RKO',
  '21': 'Paramount',
  '22': 'United Artists',
  '23': '20th Century Fox',
  '24': 'Universal',
  '25': 'Universal-International',
  '26': 'Columbia',
  '27': 'United Artists',
  '28': '20th Century Fox',
  '29': 'Paramount',
  '30': 'United Artists',
  '31': 'Warner Brothers',
  '33': 'United Artists',
  '34': 'RKO (distributor), Disney',
  '35': 'United Artists',
  '36': 'Columbia',
  '37': 'RKO, Samuel Goldwyn',
  '38': 'Warner Brothers',
  '40': '20th Century Fox',
  '41': 'RKO',
  '42': 'Warner Brothers',
  '43': 'United Artists',
  '44': 'Metro-Goldwyn-Mayer',
  '45': 'Paramount',
  '46': 'Columbia',
  '47': 'Warner Brothers',
  '48': 'Paramount',
  '50': 'New Line Cinema',
  '51': 'United Artists',
  '52': 'Columbia',
  '53': 'Universal',
  '54': '20th Century Fox',
  '55': 'Metro-Goldwyn-Mayer',
  '56': 'Universal',
  '57': 'United Artists',
  '58': 'United Artists',
  '59': 'Paramount, ABC Entertainment',
  '60': 'Paramount',
  '61': 'Paramount',
  '62': 'Universal, Lucasfilm',
  '63': 'Allied Artists',
  '64': 'Metro-Goldwyn-Mayer, United Artists',
  '65': 'United Artists',
  '66': 'Paramount, Lucasfilm',
  '67': 'Warner Brothers',
  '68': 'Warner Brothers',
  '69': 'Columbia',
  '70': 'Warner Brothers',
  '71': 'DreamWorks',
  '72': 'Warner Brothers',
  '73': '20th Century Fox',
  '74': 'Orion Pictures',
  '75': 'United Artists',
  '76': 'Paramount',
  '77': 'Warner Brothers',
  '78': 'United Artists',
  '79': 'Warner Bros.-Seven Arts',
  '80': 'United Artists',
  '81': 'Universal-International',
  '83': 'Paramount, 20th Century Fox',
  '84': 'Columbia',
  '85': 'Metro-Goldwyn-Mayer',
  '86': 'Orion Pictures',
  '87': 'United Artists',
  '88': 'RKO',
  '89': 'Hollywood Pictures, Spyglass Entertainment, The Kennedy/Marshall Company',
  '90': 'RKO',
  '91': 'ITC Entertainment',
  '93': '20th Century Fox',
  '94': 'Miramax',
  '95': 'Columbia',
  '96': 'Universal, 40 Acres & A Mule Filmworks',
  '97': 'Warner Brothers, The Ladd Company',
  '98': 'Warner Brothers',
  '99': 'Disney, Pixar',
  '100': 'Metro-Goldwyn-Mayer'},
 'revenue': {'1': '23217674.0',
  '2': '245066411.0',
  '3': '10462500.0',
  '4': '23000000.0',
  '5': '7200000.0',
  '6': '400176459.0',
  '7': '69995385.0',
  '8': '321365567.0',
  '9': '28000000.0',
  '10': '33754967.0',
  '11': '19181.0',
  '12': '0.0',
  '13': '775398007.0',
  '14': '32000000.0',
  '15': '68700000.0',
  '16': '5000000.0',
  '17': '104945305.0',
  '18': '1214198.0',
  '19': '9600000.0',
  '20': '9644124.0',
  '21': '30000000.0',
  '22': '25000000.0',
  '23': '0.0',
  '24': '792965326.0',
  '25': '13129846.0',
  '26': '9600000.0',
  '27': '8000000.0',
  '28': '63463.0',
  '29': '2500000.0',
  '30': '89460381.0',
  '31': '1000000.0',
  '33': '108981275.0',
  '34': '184925486.0',
  '35': '38251425.0',
  '36': '27200000.0',
  '37': '23650000.0',
  '38': '4307000.0',
  '40': '286214286.0',
  '41': '10000000.0',
  '42': '50700000.0',
  '43': '44785053.0',
  '44': '0.0',
  '45': '20000000.0',
  '46': '4500000.0',
  '47': '8000000.0',
  '48': '36764313.0',
  '50': '871368364.0',
  '51': '43656822.0',
  '52': '28262574.0',
  '53': '50000000.0',
  '54': '81600000.0',
  '55': '13275000.0',
  '56': '470654000.0',
  '57': '117235147.0',
  '58': '2500000.0',
  '59': '0.0',
  '60': '0.0',
  '61': '0.0',
  '62': '140000000.0',
  '63': '0.0',
  '64': '23689877.0',
  '65': '10750000.0',
  '66': '389925971.0',
  '67': '33736689.0',
  '68': '159157447.0',
  '69': '177200000.0',
  '70': '26589000.0',
  '71': '481840909.0',
  '72': '28341469.0',
  '73': '102308889.0',
  '74': '272742922.0',
  '75': '27379978.0',
  '76': '677945399.0',
  '77': '70600000.0',
  '78': '8500000.0',
  '79': '638641.0',
  '80': '25000000.0',
  '81': '60000000.0',
  '83': '1845034188.0',
  '84': '0.0',
  '85': '0.0',
  '86': '138530565.0',
  '87': '1000000.0',
  '88': '0.0',
  '89': '672806292.0',
  '90': '2600000.0',
  '91': '30036000.0',
  '93': '41158757.0',
  '94': '213928762.0',
  '95': '29133000.0',
  '96': '37295445.0',
  '97': '33139618.0',
  '98': '0.0',
  '99': '373554033.0',
  '100': '146900000.0'},
 'Rated': {'1': 'PG',
  '2': 'R',
  '3': 'PG',
  '4': 'R',
  '5': 'G',
  '6': 'Passed',
  '7': 'Approved',
  '8': 'R',
  '9': 'PG',
  '10': 'PG',
  '11': 'G',
  '12': 'Passed',
  '13': 'PG',
  '14': 'R',
  '15': 'G',
  '16': 'N/A',
  '17': 'PG',
  '18': 'Passed',
  '19': 'Approved',
  '20': 'PG',
  '21': 'R',
  '22': 'Passed',
  '23': 'Passed',
  '24': 'PG',
  '25': 'Approved',
  '26': 'Passed',
  '27': 'PG',
  '28': 'Passed',
  '29': 'Passed',
  '30': 'R',
  '31': 'Passed',
  '33': 'R',
  '34': 'Approved',
  '35': 'PG',
  '36': 'PG',
  '37': 'Approved',
  '38': 'Passed',
  '40': 'G',
  '41': 'PG-13',
  '42': 'R',
  '43': 'R',
  '44': 'Not Rated',
  '45': 'Not Rated',
  '46': 'Approved',
  '47': 'PG',
  '48': 'PG',
  '50': 'PG-13',
  '51': 'Approved',
  '52': 'R',
  '53': 'R',
  '54': 'TV-PG',
  '55': 'Approved',
  '56': 'PG',
  '57': 'PG',
  '58': 'Passed',
  '59': 'R',
  '60': 'Not Rated',
  '61': 'Not Rated',
  '62': 'PG',
  '63': 'PG',
  '64': 'R',
  '65': 'PG',
  '66': 'PG',
  '67': 'Not Rated',
  '68': 'R',
  '69': 'PG',
  '70': 'R',
  '71': 'R',
  '72': 'R',
  '73': 'PG',
  '74': 'R',
  '75': 'Approved',
  '76': 'PG-13',
  '77': 'PG',
  '78': 'G',
  '79': 'R',
  '80': 'Approved',
  '81': 'TV-MA',
  '83': 'PG-13',
  '84': 'R',
  '85': 'Passed',
  '86': 'R',
  '87': 'Approved',
  '88': 'Passed',
  '89': 'PG-13',
  '90': 'Not Rated',
  '91': 'R',
  '93': 'R',
  '94': 'R',
  '95': 'R',
  '96': 'R',
  '97': 'R',
  '98': 'Passed',
  '99': 'G',
  '100': 'G'},
 'Plot': {'1': "Following the death of publishing tycoon Charles Foster Kane, reporters scramble to uncover the meaning of his final utterance; 'Rosebud'.",
  '2': "An organized crime dynasty's aging patriarch transfers control of his clandestine empire to his reluctant son.",
  '3': 'A cynical expatriate American cafe owner struggles to decide whether or not to help his former lover and her fugitive husband escape the Nazis in French Morocco.',
  '4': 'The life of boxer Jake LaMotta, whose violence and temper that led him to the top in the ring destroyed his life outside of it.',
  '5': 'A silent film production company and cast make a difficult transition to sound.',
  '6': 'A manipulative woman and a roguish man conduct a turbulent romance during the American Civil War and Reconstruction periods.',
  '7': 'The story of T.E. Lawrence, the English officer who successfully united and led the diverse, often warring, Arab tribes during World War I in order to fight the Turks.',
  '8': 'In German-occupied Poland during World War II, industrialist Oskar Schindler gradually becomes concerned for his Jewish workforce after witnessing their persecution by the Nazis.',
  '9': 'A former police detective juggles wrestling with his personal demons and becoming obsessed with a hauntingly beautiful woman.',
  '10': 'Dorothy Gale is swept away from a farm in Kansas to a magical land of Oz in a tornado and embarks on a quest with her new friends to see the Wizard who can help her return home to Kansas and help her friends as well.',
  '11': 'With the aid of a wealthy erratic tippler, a dewy-eyed tramp who has fallen in love with a sightless flower girl accumulates money to be able to help her medically.',
  '12': 'An American Civil War veteran embarks on a journey to rescue his niece from the Comanches.',
  '13': "Luke Skywalker joins forces with a Jedi Knight, a cocky pilot, a Wookiee and two droids to save the galaxy from the Empire's world-destroying battle station, while also attempting to rescue Princess Leia from the mysterious Darth Vader.",
  '14': "A Phoenix secretary embezzles $40,000 from her employer's client, goes on the run, and checks into a remote motel run by a young man under the domination of his mother.",
  '15': 'After discovering a mysterious artifact buried beneath the Lunar surface, mankind sets off on a quest to find its origins with help from intelligent supercomputer H.A.L. 9000.',
  '16': 'Sunset Boulevard is the attempt to simultaneously picture the two big, contradictory myths of U.S. America: the myth of unlimited individualism ("lonesome rider"), and the myth of the "...',
  '17': 'A disillusioned college graduate finds himself torn between his older lover and her daughter.',
  '18': "When Union spies steal an engineer's beloved locomotive, he pursues it single-handedly and straight through enemy lines.",
  '19': 'An ex-prize fighter turned longshoreman struggles to stand up to his corrupt union bosses.',
  '20': 'An angel is sent from Heaven to help a desperately frustrated businessman by showing him what life would have been like if he had never existed.',
  '21': 'A private detective hired to expose an adulterer finds himself caught up in a web of deceit, corruption, and murder.',
  '22': 'After two male musicians witness a mob hit, they flee the state in an all-female band disguised as women, but further complications set in.',
  '23': 'A poor Midwest family is forced off their land. They travel to California, suffering the misfortunes of the homeless in the Great Depression.',
  '24': 'A troubled child summons the courage to help a friendly alien escape Earth and return to his home world.',
  '25': 'Atticus Finch, a lawyer in the Depression-era South, defends a black man against an undeserved rape charge, and his children against prejudice.',
  '26': "A naive man is appointed to fill a vacancy in the United States Senate. His plans promptly collide with political corruption, but he doesn't back down.",
  '27': 'A town Marshal, despite the disagreements of his newlywed bride and the townspeople around him, must face a gang of deadly killers alone at high noon when the gang leader, an outlaw he sent up years ago, arrives on the noon train.',
  '28': 'A seemingly timid but secretly ruthless ingénue insinuates herself into the lives of an aging Broadway star and her circle of theater friends.',
  '29': 'An insurance representative lets himself be talked by a seductive housewife into a murder/insurance fraud scheme that arouses the suspicion of an insurance investigator.',
  '30': 'A U.S. Army officer serving in Vietnam is tasked with assassinating a renegade Special Forces Colonel who sees himself as a god.',
  '31': 'A private detective takes on a case that involves him with three eccentric criminals, a gorgeous liar, and their quest for a priceless statuette.',
  '33': 'A criminal pleads insanity and is admitted to a mental institution, where he rebels against the oppressive nurse and rallies up the scared patients.',
  '34': 'Exiled into the dangerous forest by her wicked stepmother, a princess is rescued by seven dwarf miners who make her part of their household.',
  '35': 'Alvy Singer, a divorced Jewish comedian, reflects on his relationship with ex-lover Annie Hall, an aspiring nightclub singer, which ended abruptly just like his previous marriages.',
  '36': 'British POWs are forced to build a railway bridge across the river Kwai for their Japanese captors, not knowing that the allied forces are planning to destroy it.',
  '37': 'Three World War II veterans return home to small-town America to discover that they and their families have been irreparably changed.',
  '38': 'Two Americans searching for work in Mexico convince an old prospector to help them mine for gold in the Sierra Madre Mountains.',
  '40': 'A woman leaves an Austrian convent to become a governess to the children of a Naval officer widower.',
  '41': 'A greedy film producer assembles a team of moviemakers and sets out for the infamous Skull Island, where they find more than just cannibalistic natives.',
  '42': 'Bored waitress Bonnie Parker falls in love with an ex-con named Clyde Barrow and together they start a violent crime spree through the country, stealing cars and robbing banks.',
  '43': 'A naive hustler travels from Texas to New York City to seek personal fortune, finding a new friend in the process.',
  '44': "When a rich woman's ex-husband and a tabloid-type reporter turn up just before her planned remarriage, she begins to learn the truth about herself.",
  '45': 'A weary gunfighter attempts to settle down with a homestead family, but a smoldering settler/rancher conflict forces him to act.',
  '46': 'A renegade reporter and a crazy young heiress meet on a bus heading for New York, and end up stuck with each other when the bus leaves them behind at one of the stops.',
  '47': 'Disturbed Blanche DuBois moves in with her sister in New Orleans and is tormented by her brutish brother-in-law while her reality crumbles around her.',

In [ ]:
#data_json.keys()

In [21]:
import pymongo

# Setup connection to mongodb
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

# Select database and collection to use
db = client.movie_data
collection = db.movie_facts

collection.insert_one(data_json)